{% extends 'base.html' %}

{% block title %} Blog Home  {% endblock title %}
{% block blogactive %} active{% endblock blogactive %} 
{% block body %}

<div class="container my-4">
<h2>Popular Articles by iCoder:</h2>
<hr>
{% for post in allPosts %}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Article by {{post.author}}</strong>
          <h3 class="mb-0">{{post.title}}</h3>
          <span class="badge badge-secondary">{{post.views}} views</span>
          <div class="mb-1 text-muted">{{post.timeStamp}}</div>
          <div class="preview">
          <p class="mb-auto">{{post.content|safe|slice:"0:50"}}...</p>
          </div>
          <a href="/blog/{{post.slug}}" class="stretched-link">Continue reading</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock body %}

{% block script %}
<script>
let previews = document.getElementByClassName('preview');
Array.from(previews).forEach((element)=>{
element.innerHTML = element.innerText;
})
</script>
{% endblock script %}
